@import "tailwindcss";

:root {
  --background: #f8f8f8;
  --foreground: #171717;
  --obsidian-300: #c7c7c7;
  --obsidian-700: #4f4f4f;
  --obsidian-800: #212121;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-obsidian-300: var(--obsidian-300);
  --color-obsidian-700: var(--obsidian-700);
  --color-obsidian-800: var(--obsidian-800);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-nordique: var(--font-nordique);
  --font-work-sans: var(--font-work-sans);

  --breakpoint-phone: 390px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-pc: 1440px;
}

body {
  background: var(--background);
  color: var(--obsidian-800);
  font-family: var(--font-work-sans), Arial, Helvetica, sans-serif;
}
